.buttonPlayPause {
  margin: 0;
  padding: 0;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: rgba(0,0,0,0.1);
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:before,
  &:after {
    content: '';
  }

  &:before {
    display: inline-block;
    width: 8px;
    height: 24px;
    border: 6px solid #7C7F7F;
    border-top: none;
    border-bottom: none;
  }

  &.paused {

    &:before {
      width: 0;
      height: 0;
      border: 17px solid transparent;
      border-right-width: 0;
      border-left-width: 22px;
      border-left-color: #7C7F7F;
      margin-left: 7px;
    }
  }
}