/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

// hide the navigation by defualt.
// only show the navigation on specific pages.
body {
  .main-nav {
    opacity: 0;
    transition: opacity 1.5s ease-in;
  }
  &:not(.intro-page):not(.login-page) {
    .main-nav {
      opacity: 1;
    }
  }
}

// Slick Carsouel Specific Styles
.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #1e9be9;
}
.slick-dots li button:before {
  opacity: 0.75;
  color: #d6d9d8;
}

.transition-group {
  position: relative;
  height: 100vh;
}

/**
 Global Page Transition Styles
*/
.page-enter {
  transform: translate(0, 100%);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-enter {
  transform: translate(0, 100%);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  transform: translate(0, -100%);
}

.page--prev.page-exit {
  transform: translate(0, -100%);
}

.page-enter-active .slickCarouselPageAnimationFix {
  opacity: 0;
}

.page.page-enter-done .slickCarouselPageAnimationFix {
  animation: slickCarouselFix 0.25s ease-out;
  animation-fill-mode: forwards;
}

@keyframes slickCarouselFix {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Starkey English Fonts //////////////////////////////////////////////////////////////////////////

// DIN NEXT - use style linking to change font style & weight /////////////////////////////////////
@font-face {
  font-family: 'DIN Next';
  src: url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/din/21159f5e-cd9e-408a-ba51-65510b4a13aa.eot?#iefix');
  src: url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/din/21159f5e-cd9e-408a-ba51-65510b4a13aa.eot?#iefix')
      format('eot'),
    url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/din/f3de66f3-8e63-467b-a343-dad3b4e2d400.woff2')
      format('woff2'),
    url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/din/20007504-6ea2-4d68-93e4-f4769b5d9f14.woff')
      format('woff'),
    url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/din/1c35aab7-8ddd-402f-8976-1363134c3817.ttf')
      format('truetype'),
    url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/din/91c8307f-e301-4d44-b0f3-5cff17b3a554.svg#91c8307f-e301-4d44-b0f3-5cff17b3a554')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

// NEW MR EAVES FONTS - use style linking to change font style & weight /////////////////////////////////////
@font-face {
  font-family: 'Mr Eaves XL Sans';
  src: url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-reg-webfont.eot');
  src: url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-reg-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-reg-webfont.woff2')
      format('woff2'),
    url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-reg-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mr Eaves XL Sans';
  src: url('https://hearingtools.blob.core.windows.net/dev-hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-book-webfont.eot');
  src: url('https://hearingtools.blob.core.windows.net/dev-hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-book-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://hearingtools.blob.core.windows.net/dev-hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-book-webfont.woff2')
      format('woff2'),
    url('https://hearingtools.blob.core.windows.net/dev-hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-book-webfont.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mr Eaves XL Sans';
  src: url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-bold-webfont.eot');
  src: url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-bold-webfont.woff2')
      format('woff2'),
    url('https://hearingtools.blob.core.windows.net/hearingtools/HearingTools/fonts/mreavesweb/mreavesxlsanot-bold-webfont.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Mr Eaves XL Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #000000;
}
