.progress {
  z-index: 2;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  transform-origin: bottom;
  text-align: center;
  user-select: none;
}

.progress_left {
  right: inherit;
  left: 0;
}

.progress > * {
  display: block;
}

.progress-text {
  font-size: 3vmin;
  font-weight: bold;
  color: #1e9be9;
}

.progress-arrow {
  font-size: 2.5vmin;
  color: #1e9be9;
}

.progress_white > * {
  color: #ffffff;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
